<div class="text-center">
  <a
    href="https://ctpsy.podia.com/view/courses/apprendre-a-reguler-ses-emotions"
    ><div>
      <button
        type="button"
        class="inline-block pulse px-6 my-2 py-3 text-md font-medium leading-6 text-center text-white transition bg-primary hover:text-secondary hover:border-white hover:border rounded shadow ripple hover:shadow-lg focus:outline-none"
      >
        <span class="uppercase"
          >Acheter 225€
          <div class="text-xs">(Vous serez redirigé sur podia.com)</div></span
        >
      </button>
    </div></a
  >
</div>
